@page "/askchatgpt"

    
@if(!IsAnswerOnly)
{
    <div class="row text-center mb-5"> 
        <div class="col"><a onClick="window.open('https://platform.openai.com/', '_blank')" href="#"><img src="/chatgpt-logo.png" alt="title" width="320" height="140"></a></div>
    </div>

    <EditForm OnValidSubmit="GetOpinionFromChatGtp" EditContext="editContext" @onkeyup=@(ResetValidation)>
        
        <div class="d-flex align-items-center">
            <div class="col-3 col-lg-2"><b>Question</b></div>
            <div class="d-flex col-9 col-lg-6 justify-content-between">
                <DataAnnotationsValidator />
                <InputText @bind-Value:get="Model.Question" id="txtAskChatGpt" class="form-control shadow-none" placeholder="Question"></InputText>
                <button class="btn btn-primary ms-1" type="submit">Submit</button>
                <button class="btn btn-danger ms-1" type="reset" @onclick=@(ClearAnswer)>Clear</button>
            </div>
        </div>

        <div class="d-flex mt-2">
            <div class="col-3 col-lg-2"></div>
            <div class="col-6 col-lg-4 ms-1">
                <small class="validation-message"><ValidationMessage For="() => Model.Question"/></small>
            </div>
        </div>

    </EditForm>
}

<div class="d-flex align-items-center mt-2">
    @if(IsAnswerOnly)
    {
        <div class="col-3"><b>Chat GPT</b></div>
        <div class="col pb-2 ms-2">
            @if(isLoading)
            {
                <div class="d-flex">
                    <div class="spinner-grow text-primary slow"></div>
                    <div class="spinner-grow text-warning quicker"></div>
                    <div class="spinner-grow text-danger quickest"></div>
                </div>
            }
            else
            {
                <div class="d-flex flex-column">
                    <span class="mb-2"><small class="small-blue">@Model.Question</small></span>
                    <div class="@flash">@Model.Answer</div>
                </div>
            }
        </div>
    }
    else
    {
        <div class="col-3 col-lg-2"><b>Answer</b></div>
        <div class="col-9 col-lg-6 pb-2">
            @if(isLoading)
            {
                <div class="d-flex">
                    <div class="spinner-grow text-primary slow"></div>
                    <div class="spinner-grow text-warning quicker"></div>
                    <div class="spinner-grow text-danger quickest"></div>
                </div>
            }
            else
            {
                <div class="@flash">@Model.Answer</div>
            }
        </div>
    }
</div>