@page "/rickandmorty/{activePage:int?}/{minPageView:int?}/{filterText?}"

@if (characters == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="container">

        <div class="row text-center"> 
            <div class="col"><img src="/rickandmorty/title.png" alt="title" width="320" height="128"></div>
        </div>
        
        <div class="d-flex flex-wrap justify-content-between mt-5">
            <div class="col-lg-6 col-md-8 col-xs-10 mb-1">
                <div class="input-group input-group-sm">
                    <input @bind-value="filterText" @bind-value:event="oninput" @onkeypress=InputKeyPress type="text" class="form-control shadow-none" placeholder="Filter Text">
                    <button class="btn btn-primary mx-1" @onclick=@(async () => await GetCharactersAndInfo())>Submit</button>
                    <button class="btn btn-danger" @onclick=@(async () => { filterText = string.Empty; await GetCharactersAndInfo(); })>Clear</button>
                </div>
            </div>
            
            <div class="">
                <nav>
                    <ul class="pagination pagination-sm justify-content-end">
                        <li class="page-item @IsMinDisabled view-select" @onclick=@(() => DecrementPageView())>
                            <button class="page-link @IsMinDisabled" tabindex="-1">Previous</button>
                        </li>
                        @for (var i = minPageView; i <= @Math.Min(minPageView + maxPagesView - 1, totalPages); i++)
                        {
                            var index = i;
                            <li class="page-item view-select @IsActive(index)" @onclick=@(async () => {SetActive(index); await GetCharactersAndInfo();})>
                                <button style="width:35px" class="page-link">@index</button>
                            </li>
                        }
                        <li class="page-item @IsMaxDisabled view-select" @onclick=@(() => IncrementPageView())>
                            <button class="page-link @IsMaxDisabled">Next</button>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>

        <table class="table w-100">
            <thead>
                <tr>
                    <th class="col-4">Name</th>
                    <th class="col-3">Identifies As</th>
                    <th>Image</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var character in characters)
                {
                    <tr @onclick=@(() => ViewCharacter(character.Id)) class="view-select">
                        <td class="col-4">@character.Name</td>
                        <td class="col-3">@character.Gender</td>
                        <td><img src="@character.Image" alt="@character.Name" width="128" height="128"></td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
}