@page "/rickandmorty/{activePage:int?}/{minPageView:int?}"

<h1>Rick and Morty Characters</h1>

@if (characters == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="container-fluid mt-4">

        <nav aria-label="...">
            <ul class="pagination pagination-sm">
                <li class="page-item @IsMinDisabled view-select" @onclick=@(() => DecrementPageView())>
                    <button class="page-link" tabindex="-1">Previous</button>
                </li>
                @for (var i = minPageView; i < maxPagesView + minPageView; i++)
                {
                    var index = i;
                    <li class="page-item view-select @IsActive(index)" @onclick=@(async () => {SetActive(index); await GetCharactersAndInfo();})>
                        <button style="width:40px!important" class="page-link">@index</button>
                    </li>
                }
                <li class="page-item @IsMaxDisabled view-select" @onclick=@(() => IncrementPageView())>
                    <button class="page-link">Next</button>
                </li>
            </ul>
        </nav>

        <table class="table">
            <thead>
                <tr class="w-100">
                    <th class="col-4">Name</th>
                    <th class="col-3">Identifies As</th>
                    <th>Image</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var character in characters)
                {
                    <tr class="w-100 view-select" @onclick=@(() => ViewCharacter(character.Id))>
                        <td class="col-4">@character.Name</td>
                        <td class="col-3">@character.Gender</td>
                        <td><img src="@character.Image" alt="@character.Name" width="128" height="128"></td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
}