@page "/characterView/{id}"

@if(character == null)
{
    <p><em>Loading...</em></p>    
}
else
{
    <div class="container">

        <div class="row text-center"> 
            <div class="col"><img src="@character.Image" alt="@character.Name" width="256" height="256"></div>
        </div>

        <div class="row text-center">    
            <div class="col"><span><h2>@character.Name</h2></span></div>
        </div>

        <div class="row mt-3">
            <div class="d-flex">
                <div class="col-3"><b>Gender</b></div>
                <div>@character.Gender</div>
            </div>
            <hr>
            <div class="d-flex">
                <div class="col-3"><b>Species</b></div>
                <div>@character.Species</div>
            </div>
            <hr>
            <div class="d-flex">
                <div class="col-3"><b>Species Subtype</b></div>
                @if(string.IsNullOrWhiteSpace(character.Type))
                {
                    <div>-</div>
                }
                else
                {
                    <div>@character.Type</div>
                }
            </div>
            <hr>
            <div class="d-flex">
                <div class="col-3"><b>Status</b></div>
                <div>@character.Status</div>
            </div>
            <hr>
            <div class="d-flex">
                <div class="col-3"><b>Origin</b></div>
                <div>@character.Origin?.Name</div>
            </div>
            <hr>
            <div class="d-flex">
                <div class="col-3"><b>Last Known Location</b></div>
                <div class="pb-2">
                    <div class="view-select badge bg-secondary" @onclick=@(() => ViewLocation(character.Location.Id))>
                        @character.Location?.Name
                    </div>
                </div>
            </div>
            <hr>
            <ChatGpt Question=@(character.AskChatGtp)></ChatGpt>
            <hr>
            <div class="d-flex">
                <div class="col-3"><b>Episodes</b></div>
                <div class="pb-2" style="margin-right:1px">
                    @foreach (var episode in character.Episodes)
                    {
                        <div class="view-select badge bg-secondary" @onclick=@(()=>ViewEpisode(episode.Id))>
                            @episode.Name
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
}